In [2]:
#Project 2 | Statistical Learning

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('data.csv')

In [5]:
df.head()

   SALESPERSON  Old Scheme  New Scheme
0            1          57          62
1            2         103         122
2            3          59          54
3            4          75          82
4            5          84          84

In [6]:
#1. Find the mean of old and new scheme
df['Old Scheme'].mean()

68.03333333333333

In [7]:
df['New Scheme'].mean()

72.03333333333333

In [55]:
#2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

#Given,

#Null Hypothesis : There is no significant difference between Schemes

#Alternate Hypothesis : There is a significant difference between schemes
    
from scipy.stats import ttest_ind

In [56]:
stat, p = ttest_ind(df['Old Scheme'], df['New Scheme'])

In [57]:
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=-0.694, p=0.491

In [1]:
#3. Since the p > 0.05 (Common signifinace value) so null hypothesis cannot be rejected. This means that there no
#significance difference in the schemes

In [70]:
# 4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

# Creating a new column to have average added to the Old scheme as it is compared against as the values are in thousands
# I will add 5 (as figures are in thousands )to the old scheme value

df['New Scheme Breakeven']=df['Old Scheme']+5
df.head()

   SALESPERSON  Old Scheme  New Scheme  New Scheme Breakeven
0            1          57          62                    62
1            2         103         122                   108
2            3          59          54                    64
3            4          75          82                    80
4            5          84          84                    89

In [13]:
#4. a : The probability of a type 1 error?


#Given,

#Null Hypothesis : There is no significant difference between Schemes when average output is increased by $5000

#Alternate Hypothesis : There is a significant difference between schemes when average output is increased by $5000


# Type 1 error is when null hypothesis is true and we reject null hypothesis. 
# Since we are considering the Common significant value Alpha = 0.05 
# 0.05 will be the probability of type1 error.

In [75]:
#4. b : What is the p- value of the hypothesis test if we test for a difference of $5000?

from scipy.stats import ttest_ind
stat, p = ttest_ind(df['Old Scheme'], df['New Scheme Breakeven'])

print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=-0.947, p=0.348

In [77]:
# Since p>0.05 null hypothesis cannot be rejected. This means that There is no significant difference between 
#the schemes when average output is increased by $5000

In [ ]:
#4. c : Power of the test